<h1 class="text-center">Your cocktail list</h1>

<div class="text-center padded">
  <%= link_to "Create a cocktail", new_cocktail_path, class: "btn btn-primary" %>
</div>

<div class="container text-center">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card">

          <% if cocktail.photo %>
            <div class="card-header" style="background-image: url('<%= cl_image_path cocktail.photo.url %>')">

            </div>
          <% else %>
            <div class="card-header" style="background-image: url('https://unsplash.it/200/300')">
            </div>
          <% end %>
          <div class="card-body">
            <%= link_to cocktail.name, cocktail_path(cocktail) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>





